*.pyc
.vscode
output
build
tensorboard_3d
screenshots
exp_data
dumps
arxiv
submodules/simple-knn/simple_knn.egg-info
submodules/simple-knn/build
submodules/diff-gaussian-rasterization/diff-gaussian-rasterization.egg-info
submodules/diff-gaussian-rasterization/build
debug
output_ofc
output_ofc/*
vq_out
vq_out/*
distill
distill/*
pre_trained
pre_trained/*
pre_trained.tar.gz
mesh_output
mesh_output/*
*.dump
data
data/*
scripts/mesongs_mip360.sh
scripts/render_test.sh